{% extends "pages/index.html" %}
{% block content %}

<section class="cta">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="fw-bold">
                    <i class="bi bi-envelope"></i> Contactez-nous
                </h2>
                <p class="mt-3">Demandez une démonstration ou un accompagnement personnalisé</p>

                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-3" placeholder="Nom complet" required>
                    <input type="email" class="form-control mb-3" placeholder="Email professionnel" required>
                    <textarea class="form-control mb-3" rows="4" placeholder="Votre message"></textarea>
                    <button class="btn btn-finance w-100">
                        Envoyer la demande
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
