{% extends "pages/index.html" %}
{% block content %}

<section class="stats text-center">
    <div class="container">
        <h2 class="fw-bold mb-5">
            <i class="bi bi-graph-up-arrow"></i> Performance & Résultats
        </h2>

        <div class="row g-4">
            <div class="col-md-4 stat">
                <h2>+35%</h2>
                <p>Optimisation des flux financiers</p>
            </div>

            <div class="col-md-4 stat">
                <h2>-60%</h2>
                <p>Réduction des erreurs comptables</p>
            </div>

            <div class="col-md-4 stat">
                <h2>+50%</h2>
                <p>Gain de productivité financière</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
