
{% extends "base.html" %}

{% block content %}

<div class="container p-5">

<h1>About MoukFinTech</h1>

<p>

MoukFinTech est une plateforme fintech conçue
pour analyser les transactions financières,
détecter les fraudes et aider les entreprises
à prendre de meilleures décisions financières.

</p>

<h3>Notre mission</h3>

<p>

Rendre l’intelligence financière accessible
aux entreprises grâce à l’analyse de données
et l’intelligence artificielle.

</p>

<h3>Notre vision</h3>

<p>

Construire une plateforme fintech capable
de détecter automatiquement les risques
financiers et améliorer la performance
des organisations.

</p>

</div>

{% endblock %}