# ml/templates/ml/forecast.html

{% extends "base.html" %}
{% block content %}

<h2>🔮 Prévision Financière (6 mois)</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mois futur</th>
            <th>Montant prédit (XAF)</th>
        </tr>
    </thead>
    <tbody>
        {% for f in forecast %}
        <tr>
            <td>M + {{ f.month }}</td>
            <td>{{ f.predicted_amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Pas assez de données</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<canvas id="forecastChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ labels|safe }};
const data = {{ data|safe }};
const forecast = {{ forecast|safe }};

const ctx = document.getElementById("forecastChart");

new Chart(ctx, {

    type: "line",

    data: {

        labels: labels,

        datasets: [
        {
            label: "Historical Data",
            data: data
        },
        {
            label: "Forecast",
            data: forecast
        }
        ]

    }

});

</script>
{% endblock %}