:root {
    --primary: #0f2a44;
    --secondary: #1f6fb2;
    --accent: #00b4d8;
    --success: #2ec4b6;
    --warning: #ffb703;

    --bg-main: #f4f6f9;
    --bg-card: #ffffff;

    --text-dark: #1c1c1c;
    --text-muted: #6c757d;
}

body {
    font-family: "Inter", "Segoe UI", sans-serif;
    background: var(--bg-main);
    color: var(--text-dark);
}

/* TITRES POWER BI */
h1, h2, h3, h4 {
    font-weight: 700;
}

/* CARTES UNIFIÉES */
.card,
.kpi-card,
.feature-card {
    background: var(--bg-card);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,.05);
    border: none;
}
